env/
Jupyter/*
/Jupyter
/Jupyter/
Jupyter/sdk/
Jupyter/AlvoDLC/
Jupyter/contatos.json
Jupyter/contatos_identitys.json
Jupyter/to_updates.json
Jupyter/is_true_update.json
Jupyter/is_error_update.json
Jupyter/REcampaing
Jupyter/nltk_data
/Jupyter/etesteresponse.json
/Jupyter/tetesteresponse.json
/Datassets
/Datassets/
/Results
/Results/
*/Results
/Results/*
Jupyter/Passives/
Jupyter/Passives
.env
/.env/
*/.env
/__pycache__
__pycache__/
*/__pycache__
__pycache__/*
/Jupyter/*.json
Jupyter/*.json
App/prisma/migrations/